@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"), url("//fifaonline4.nexon.com/fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("//fifaonline4.nexon.com/fonts/Pretendard-Bold.subset.woff") format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"), url("//fifaonline4.nexon.com/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("//fifaonline4.nexon.com/fonts/Pretendard-SemiBold.subset.woff") format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"), url("//fifaonline4.nexon.com/fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("//fifaonline4.nexon.com/fonts/Pretendard-Regular.subset.woff") format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"), url("//fifaonline4.nexon.com/fonts/Pretendard-Light.subset.woff2") format("woff2"), url("//fifaonline4.nexon.com/fonts/Pretendard-Light.subset.woff") format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"), url("//fifaonline4.nexon.com/fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("//fifaonline4.nexon.com/fonts/Pretendard-ExtraLight.subset.woff") format("woff")
}

@font-face {
    font-family: "INGAME";
    font-weight: 300;
    src: url("//fifaonline4.nexon.com/fonts/YoonGothic530.subset.woff") format("woff")
}

@font-face {
    font-family: "INGAME";
    font-weight: 400;
    src: url("//fifaonline4.nexon.com/fonts/YoonGothic540.subset.woff") format("woff")
}

@font-face {
    font-family: "EASANS";
    font-weight: 500;
    src: url("//fifaonline4.nexon.com/fonts/eaSans.woff") format("woff")
}

@font-face {
    font-family: 'PostNo';
    src: url('../public/fonts/Post-No-Bills-Jaffna-Bold.ttf.woff') format('woff'),
        url('../public/fonts/Post-No-Bills-Jaffna-Bold.ttf.svg#Post-No-Bills-Jaffna-Bold') format('svg'),
        url('../public/fonts/Post-No-Bills-Jaffna-Bold.ttf.eot');
    /* url('../public/fonts/Post-No-Bills-Jaffna-Bold.eot?#iefix') format('embedded-opentype'); */
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pretendard", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -1px
}

.static120 {
    color: #d9aa02;
}

.static110 {
    color: #873ac0;
}

.static100 {
    color: #4f4cd6;
}

.static90 {
    color: #175dde;
}

.static80 {
    color: #2194d6;
}

.static70 {
    color: #e6e6e6;
}

.static5060 {
    color: #75869a;
}

.static40below {
    color: #5a5a5a;
}

.upgrade5 {
    color: #4e545e !important;
    background: #020024 !important;
    background: linear-gradient(140deg, rgb(2, 0, 36) 0%, rgb(216, 217, 220) 0%, rgb(184, 189, 202) 100%) !important;
    border: 1.5px solid #a5a8ae !important;
    border-top-color: #d8dadc !important;
    border-left-color: #d8dadc !important;
    border-right-color: #a9aaae !important;
}

.upgrade8 {
    color: #695100 !important;
    background: #f9dd62 !important;
    background: linear-gradient(140deg, #f9dd62 0%, #f9dd62 0%, #dca908 100%) !important;
    border: 1.5px solid #cda000 !important;
    border-top-color: #e9d36c !important;
    border-left-color: #e9d36c !important;
    border-right-color: #cda000 !important;
}

.upgrade24 {
    color: #7e3f27 !important;
    background: #de946b !important;
    background: linear-gradient(140deg, #de946b 0%, #de946b 0%, #ad5f42 100%) !important;
    border: 1.5px solid #864229 !important;
    border-top-color: #e4b7a2 !important;
    border-left-color: #e4b7a2 !important;
    border-right-color: #864229 !important;
}

.upgrade1 {
    color: #c5c8c9 !important;
    background: #51545a !important;
    background: linear-gradient(140deg, #51545a 0%, #51545a 0%, #42464d 100%) !important;
    border: 1.5px solid #393a3c !important;
    border-top-color: #62676d !important;
    border-left-color: #62676d !important;
    border-right-color: #393a3c !important;
}