.swiperCard .swiper-scrollbar-drag {
  position: absolute;
  z-index: 2;
  height: 18px;
  border-radius: 18px;
  background: #25c7f5
    url(//ssl.nexon.com/s2/game/fc/online/obt/datacenter/rank/bg_slide.png)
    center center no-repeat;
  border-radius: 9px;
  cursor: default;
  touch-action: none;
}
